h3{
  padding-top: 1%; /* Adjust as needed, reduced from 5% */
  text-align: center;
  color: black;
}

* {
  background-color: white;
}

.ds {
  margin-bottom: 1%; /* Reduced from 30% */
  padding-top: 0%; /* Reduced from 20% */
}

.ta {
  margin-bottom: 2%; /* Reduced from 20% */
}
button{
  margin-top: 2%;
  background-color:skyblue;
}
.fs{
  width: 30%;
  padding-top: 2%;
}