h3{
  text-align: center;
}
.ps{
  margin-bottom: 2%;
}
button{
  background-color: aqua;
  margin-top: 2%;
}
.fs{
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
  height: 5%;
}
.container{
  text-align: center;
}
.dr{
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
}
.fc{
  margin-top: 2%;
}
#favcolor{
  width: 10%;
}